body {
    margin: 0;
    padding: 0;
    background-image: url('/home/belen/Escritorio/bootcamp/RockPaperScissors/imgs/v1066-070c.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #f8f8f8;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    flex-direction: column;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin-top: 20px;
}

#tablaPuntuaciones {
    width: 40%;
    max-width: 40%;
}

.containerButton {
    width: 100%;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .principal {
        height: auto;
    }

    #container {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .containerButton {
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Centramos el texto verticalmente */
        width: 80%;
        margin: 10px 0;
    }

    #tablaPuntuaciones, #consoleContainer {
        width: 80%;
        max-width: 80%;
        margin: 10px 0;
    }

    .botonJuego1, .botonJuego2, .botonJuego {
       
        width: 80%; /* Reducimos el ancho de los botones */
        font-size: 18px; /* Reducimos el tamaño del texto de los botones */
        padding: 1em 1.5em; /* Ajustamos el espacio interior del botón */
        margin-bottom: 10px; /* Ajustamos el espacio entre los botones */
        align-items: center; /* Centramos el texto verticalmente */
        justify-content: center;
    }

    #consoleContainer {
        width: 80%;

        margin: 0 auto 5px; /* Ajustamos el margen izquierdo y derecho */
    }

    #console {
        width: 100%;
        align-items: center;
    }

    #tablaPuntuaciones {
        width: 100%;
    }

    #tablaPuntuaciones table {
        width: 100%;
    }
}
